body {
  min-width: 275px;
  background-color: #E8E9E8;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border: 2px solid #000000;
  border-radius: 50%;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 12px;
  margin: 20px 0;
}

#mintNftButton {
  background-color: #5538CE;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s;
}

#mintNftButton:hover {
  background-color: #422AA9;
}

#mintNftButton:active {
  background-color: #3e8e41;
}